---
layout: page
title: 一叶竹
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
         </div>
      </div>
    </div>
  </div>
  
  
  
  
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
	 <div class="col-md-7 col-sm-12">
	    
        <div class="block">
          <div class="section-title">
            <h2>{{site.data.indexmain[0].name}}</h2>
            <p>{{site.data.indexmain[0].title}}</p>
          </div>
          <p>{{site.data.indexmain[0].content}}</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ site.baseurl }}/{{site.data.indexmain[0].image}}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->	  
    </div>
	
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
	
      <h2>{{site.data.indexmain[1].name}}</h2>
      <p>{{site.data.indexmain[1].title}}</p>
	  </br>
	    <p>{{site.data.indexmain[1].content}}</p>
	  
	
    </div>
  </div>
</div>
</section>



<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.personimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.personimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.personimonials }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
