---
layout: page
title: 一叶竹-读书
permalink: /think/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>读书</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% for post in site.posts %}
 {% if post.type='think' %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.subtitle | truncatewords: 50 }}
  </p>
</div>
{% endif %}
{% endfor %}
